.rootBanModal {
  width: 378px;
  height: auto;

  .selectReason {
    margin: 18px 0 48px;
    background-color: inherit;

    &[data-state='open'] {
      background-color: var(--color-dark-500);
    }
  }

  .buttonsBlock {
    display: flex;
    justify-content: space-between;

    button {
      width: 130px;
    }
  }
}
