.wrapper {
  padding: 60px 0 0 24px;
}

.filters {
  align-items: center;
  display: flex;
  gap: 95px;
  justify-content: space-between;
}

.filtersInput {
  max-width: 620px;
  width: 100%;
}

.tableWrapper {
  padding-top: 36px;

  th,
  td {
    padding: 12px 24px;
  }
}

.pagination {
  padding-top: 36px;
}
